.master {
  container-name: master;
  container-type: inline-size;
}

.master__head {
  display: flex;
  justify-content: space-between;
  background-color: $brown-dark;
  align-items: center;
  padding-right: 25px;
  flex-wrap: wrap;
  row-gap: 35px;
}

.master__ava {
  width: 180px;
  height: 180px;
}

.master__avacontainer {
  display: flex;
  align-items: center;
}

.master__name {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 50px;
  margin-right: 24px;
  max-width: 250px;
}

.master__desc {
  max-width: 500px;
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: $white-dark;
  margin-left: 16px;
  margin-bottom: 16px;
}

.master__body {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    img {
        max-width: 100%;
    }
}

.master__footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.master__see {
  .master__see_icon {
   transition: .3s;
  }
  &:hover {
    .master__see_icon {
      transform: rotate(180deg);
    }
  }
}


@media (max-width: 768px) {
  .master__body {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));

  }
  .master__desc {
    max-width: 100%;
  }
  .master__name {
    font-size: 40px;
  }
}

@media (max-width: 568px) {
  .master__name {
    font-size: 35px;
    margin: 0 0 0 16px;
    line-height: 35px;
  }
}

@media (max-width: 420px) {
  .master__name {
    font-size: 25px;
  }
}