*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Sans';
  background-color: $brown;
  color: $white;
}

.container {
  max-width: 1212px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

a {
  text-decoration: none;
  color: $white;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $invert;
  font-family: 'Playfair Display';
}
