.header {
  padding: 36px 0px;
  background-color: $brown;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  margin-top: 5px;
  z-index: 10;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.nav__link {
  margin-left: 40px;
  &:first-child {
    margin-left: 0px;
  }
}

.contacts {
  display: flex;
  gap: 42px;
  align-items: center;
  margin-left: 42px;
}

.contact__item {
  display: flex;
  gap: 15px;
}

.contact__subitem {
  text-align: right;
}

.link {
  transition: color 0.3s;
  &:hover {
    color: $orange;
  }
}

.nav__link {
  @extend .link;
  white-space: nowrap;
  font-size: 15px;
}

.address {
  max-width: 105px;
  text-align: right;
}

.phone {
  font-size: 18px;
}

.time {
  font-size: 14px;
}

.burger__btn {
  padding: 0;
  display: none;
  z-index: 10;
}

%line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $white;
  transition: all 0.3s;
}

.burger {
  width: 30px;
  height: 20px;
  position: relative;

  &::after {
    content: '';
    @extend %line;
    top: 0;
    left: 0;
  }
  &::before {
    content: '';
    @extend %line;
    left: 0;
    bottom: 0;
  }
}

.burger__line {
  @extend %line;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}

.burger__btn_active {
  .burger {
    &::after {
      transform: translateY(-50%) rotate(45deg);
      top: 50%;
    }

    .burger__line {
      transform: translateY(-50%) scale(0);
    }

    &::before {
      transform: translateY(-50%) rotate(-45deg);
      top: 50%;
    }
  }
}

@media (max-width: 1256px) {
  .contacts {
    display: none;
  }
}

@media (max-width: 768px) {
  .burger__btn {
    display: inline-flex;
  }

  .header {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 125px;
      top: 0;
      left: 0;
      background-color: $brown;
      z-index: 5;
    }
  }

  .nav__link {
    margin-left: 0;
    font-size: 25px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .nav {
    position: fixed;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0;
    transition: transform 0.3s;
    top: 0;
    left: -100%;
    background-color: $brown;
    overflow: auto;
    padding-top: 125px;
    padding-bottom: 50px;
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }


  .burger__btn_active {
    .nav {
      transform: translateX(100%);
    }
  }
}
