.testimonials {
    margin-top: 120px;
}

.testimonials__header {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
}

.testimonials__subtitle {
    margin-top: 12px;
}

.testimonials__body {
    margin-top: 60px;
}

.testimonials__slider_btn {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $white-dark;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;
    &:hover {
        background-color: $white;
    }
}

.testimonials__next {
  @extend .testimonials__slider_btn;
  background-image: url(@/shared/assets/arrow-right.svg);
  right: -54px;
}

.testimonials__prev {
  @extend .testimonials__slider_btn;
  background-image: url(@/shared/assets/arrow-left.svg);
  left: -54px;
}

@media (max-width: 1350px) {
    .testimonials__body {
       padding: 0 100px;
    }
}

@media (max-width: 768px) {
    .testimonials__body {
       padding: 0px;
    }

    .testimonials__slider_btn {
        display: none;
    }
}