@font-face {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-style: normal;
  src: url(./PlayfairDisplay-Black.ttf);
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-style: normal;
  src: url(./FiraSans-Regular.ttf);
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 600;
  font-style: normal;
  src: url(./FiraSans-SemiBold.ttf);
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  font-style: normal;
  src: url(./FiraSans-Bold.ttf);
}

h1 {
  font-size: 70px;
  font-family: 'Playfair Display';
}

h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: $invert;
}

.subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
