.about {
    margin-top: 245px;
}

.about__head {
    text-align: center;
    max-width: 580px;
    margin: 0 auto;
}

.about__subtitle {
    margin-top: 12px;
}

.about__body {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    div {
        max-height: 337px;
        overflow: hidden;
    }

    div img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    div:last-child {
        position: relative;
        bottom: 60px
    }
}

.about__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.about__footer {
    margin-top: 60px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 1256px) {
    .about__body {
        grid-template-columns: 1fr;

        div:last-child {
            bottom: 0px
        }
    }
}